body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../imagens/forza3.jpg);
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6300;
}
