body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #11a88f81;
}
h1 {
    color:rgb(17, 47, 216)
}

#timer {
    font-size: 48px;
    margin: 20px 0;
    color: #362b97;
}

#buttons {
    margin: 20px 0;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}